.judul-settings h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center; 
}

.ganti-foto-settings {
    display: flex;
    margin: 50px;
}

.ganti-foto-settings input {
    margin-top: 20px;
    height: 50px;
    width: 80px;
    margin-left: 20px;
}

.form-settings {
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
}
.settings-grid {
    display: grid;
    grid-template-columns: column;
}

.settings-grid .colum-FN {
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btn-settings {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

/*untuk layar device berukuran kecil*/
@media (max-width: 400px) {
    .form-settings {
        border: none;
        width: 100%;
    }
    .colum-FN {
        height: 30px;
        font-size: 15px;
    }
}